@font-face {
	font-family: bebasBold;
	src: url("Bebas/BebasNeue_Bold.otf");
}

@font-face {
	font-family: bebasReg;
	src: url("Bebas/BebasNeue Regular.otf");
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

body {
	font-family: bebasReg;
	font-size: 24px;
	margin: 20px;
}

header {
	font-family: bebasBold;
	margin: 10px;
	padding: 10px;
}

.btn {
	font-family: bebasReg;
	font-size: 24px;
	margin: 10px;
	padding: 5px;
}

ul {
	list-style-type: none;
}

.weather {
	width: 300px;
	float: right;
}

.icon {
	float: left;
	width: 50px;
	height: 50px;
}

.post {
	background-color: #8b9dc3;
	height: 300px;
	width: 375px;
	padding: 20px;
	margin: auto 20px;
	border: 2px solid black;
	display: inline-block;
	text-align: center;
}

.inline {
	display: inline;
}

.logo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.logo:hover {
	width: 150px;
	height: 150px;
}

.userList {
	border: 2px solid black;
	margin: 40px;
	width: 182px;
}

.chatBox {	
	border: 2px solid black;
	background-color: #3b5998;
	margin: 40px;
	padding: 20px;
	position: relative;
	top: -250px;
	left: 200px;
	width: 700px;
	height: auto;
}

.messageBox {
	background-color: #8b9dc3;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
}
 
.msgForm {
	margin: 20px;
}

.user {
	border-top: 2px solid black;
	padding: 10px;
}

.user:hover {
	background-color: #3b5998;
}

.user:active {
	background-color: #8b9dc3;
}
.user:first-child {
	border-top: none;
}

img {
	height: 200px;
}

.whoops{
	display:  block;
	margin: 0 auto;
	height: 500px;
	width: 500px;
}
.text{
	text-align: center;
}

.newsFeed {
	background-color: #3b5998;
	padding: 20px;
	border: 2px solid black;
	margin: auto 0;
}

.pform {
	padding: 20px;
}

